<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <form action="/cart/checkout" method="POST">
        <h1>Your Cart</h1>
        <button type="submit">Checkout</button>
        <a href="/">Continue Shopping</a>
    </form>
</body>
</html>